/* 全局 */
    /* 字体栈 */
    html,button,input,select,textarea,
    .pure-g [class *="pure-u"] {
        color: #333;
        font-size: 1.17em;
        font-family: Roboto, 'Segoe UI', Arial, 'Microsoft Yahei', sans-serif;
    }
    /* 字体库 */
    .fa-lg {
        font-size: 1.33333333em;
        line-height: 0.75em;
        vertical-align: -15%;
    }
    .fa-logo {
        font-size: 3.5em;
        color: #E6E7EC;
    }
    .fa-logo-da {
        font-size: 5.5em;
        color: #E6E7EC;
    }
    .fa-logo-zi {
        font-size: 1.5em;
    }
    .fa-mini {
        display: block;
        font-size: 52px;
        margin: 0 auto 4px;
        border: 1px solid transparent;
        border-radius: 2px;
        cursor: pointer;
    }
    .fa-mini:hover {
        border: 1px solid #E6E7EC;
        background: #F5F6F9;
    }
    body {
        margin: 0 auto;
        text-align: center;
    }

/* 导航 */
    .top {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 3em;
        z-index: 1;
        background: #F5F6F9;
        border-bottom: 1px solid #E6E7EC;
        cursor: pointer;
    }
    .top-center {
        position: relative;
        top: 1.5em;
        transform: translateY(-50%);
    }

/* 搜索 */
    logo {
        display: block;
        margin: 6.18% auto 2em;
        width:  8em;
        height: 8em;
        line-height: 8em;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        border: 1px solid #E6E7EC;
        border-radius: 50%;
    }
    logo:hover {
        border-radius: 50%;
        background: #F5F6F9;
    }
    /* 输入框 */
    .search-main, .search-more {
        font-size: 0;
    }
    .search-more {
        margin-bottom: 2px;
    }
    .search-input {
        vertical-align: bottom;
        font-size: 25px;
        width: 61.8%;
        height: 32px;
        padding: 8px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        outline: 0;
    }
    .search-input:hover {
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
    .search-input:focus {
        border: 1px solid #037dd8;
    }
    .search-button {
        display: inline-block;
        font-size: 25px;
        width: 79px;
        height: 32px;
        line-height: 32px;
        padding: 8px;
        border: 1px solid #037dd8;
        border-top-left-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 0;
        outline: 0;
        background: #037dd8;
        color: white;
    }
    .search-button:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
    .search-list-mini {
        display: inline-block;
    }
    /* 智能提示 */
    .search-list {
        font-size: 21px;
        padding: 8px;
        display: inline-block;
        text-align: start;
        width: 61.8%;
        border: 1px solid transparent;
        border-top: 0;
        outline: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    .search-li {
        padding: 0.1em;
        white-space: nowrap;
        /* 禁止 换行 */
        overflow: hidden;
        /* 隐藏 超出部分 */
        text-overflow: ellipsis;
        /* 省略号 替代 */
    }
    .search-li-hover {
        cursor: pointer;
        background: #037dd8;
        color: #fff;
    }
    .search-space {
        padding: 0.1em;
        text-align: right;
        color: transparent;
    }
    .search-list-button {
        display: inline-block;
        font-size: 18px;
        width: 79px;
        padding: 8px;
        height: 33px;
        line-height: 33px;
        color: transparent;
        background: transparent;
        outline: 0;
        border: 1px solid transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
        cursor: pointer;
    }
    .search-list-button:hover {
        border: 1px solid #E6E7EC;
        background: #F5F6F9;
    }

/* 引擎 */
     engine {
        display: inline-block;
        width:  4.2em;
        height: 4.2em;
        line-height: 4.2em;
        margin:  0.5em;
        /* 禁止 换行 */
        white-space: nowrap;
        /* 隐藏 超出部分 */
        overflow: hidden;
        /* 省略号 替代 */
        text-overflow: ellipsis;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 50%;
    }
     engine:hover {
        background: #F5F6F9;
    }
    .engine {
        display: none;
        width: 95%;
        margin: 4em auto 0;
    }
    .engine-often {
        border-bottom: 1px solid #D5D7DF;
    }
    .engine-tag {
        font-size: 0;
    }

/* 标签 */
    tag {
        display: inline-block;
        font-size: 21px;
        height: 4em;
        line-height: 4em;
        cursor: pointer;
    }
    tag:hover {
        background: #F5F6F9;
    }

/* 栅格 */
    .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5,
    .pure-u-1-6, .pure-u-1-7, .pure-u-1-8, .pure-u-1-9, .pure-u-1-10 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }
    .pure-u-1-1 { width: 100%; }
    .pure-u-1-2 { width: 50%; }
    .pure-u-1-3 { width: 33.3333%; }
    .pure-u-1-4 { width: 25%; }
    .pure-u-1-5 { width: 20%; }
    .pure-u-1-6 { width: 16.6667%; }
    .pure-u-1-7 { width: 14.2857%; }
    .pure-u-1-8 { width: 12.5000%; }
    .pure-u-1-9 { width: 11.1111%; }
    .pure-u-1-10 {width: 10%; }
/* 媒体查询 */
    /* 小屏幕（平板，大于等于 768px） */

    @media (min-width: 768px) {
         engine {
            width:  8em;
            height: 8em;
            line-height: 8em;
        }
        .engine {
            width: 85%;
        }
        .engine-font {
            font-size: 1.5em;
        }
        .fa-logo {
            font-size: 5.5em;
        }
        .search-input, .search-list {
            width: 38.2%;
        }
    }
